body{
margin: 0;
background-color: azure;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head-container {
    display: flex;
    background-color: #1F2937;
    padding: 35px 0 20px 0;
    flex-wrap: wrap;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin: 0 25rem 0 25rem;
}

.header, 
.headlink { 
color: white;
}

.header {
    font-weight: bold;
    font-size: 30px;
}

.headlink {
    display: flex;
    gap: 10px;
}


.body-container {
    display:flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding: 2rem 25rem 3rem 25rem;
}

.body {
    display:flex;
    padding: 0px;
    height: 400px;
    width: 1105px;
    justify-content: space-between;
}

.information {
    display: flex;
    color: white;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 1rem;
    }

    .h1 {
        font-size: 50px;
        font-weight: 800;
    }

    .paragraph {
        font-size: 18px;
    }

    img {
        /* height: min-content; */
    }

    .image-rounded {
        border-radius: 50px;
    }

    .first-button {
        background-image: linear-gradient(
        315deg,
      hsl(217deg 91% 59%) 0%,
      hsl(218deg 68% 41%) 50%,
      hsl(216deg 96% 22%) 100% );
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        padding: 10px 2rem;
    }

.third-section-container {
    background-color: white;
    padding: 3rem 33rem 6rem 33rem;
}

    #sub-header {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: bold;
        color: #1F2937
    }

    .control-roles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .role1,
    .role2,
    .role3,
    .role4 {
        display: flex;
        width: min-content;
        flex-direction: column;
        align-items: center;
    }

    .rounded-square {
        display: flex;
        width: 150px;
        height: 150px;
        padding: 10px;
        border: 3px solid #3882f6;
        border-radius: 20px;
    }

    .subscription {
        text-align: center;
        display: flex;
    }

.fourth-section {
    background-color: #E5E7EB;
    display: flex;
    padding: 3rem 33rem 6rem 33rem;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

#author {
    font-size: 20px;
    font-weight: bold;
}

.fifth-section-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.fifth-section {
    background-color: #3882f6;
    display: flex;
    padding: 4rem 10rem;
    justify-content: space-between;
    margin: 5rem 20rem;
    border-radius: 20px;

}

.right-side {
    display: flex;
    flex-direction: column;
}

#Call-to-action {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#sub-call {
    color: white;
    font-size: 16px;
}

#second-button {
    font-size: 17px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 3px 2rem;
    font-weight: bold;
}

.foot {
    display: flex;
    color: white;
    justify-content: center;
    background-color: #1F2937;
    padding: 3rem;
    
}
